@charset "UTF-8";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.flex {
  display: table;
  width: 100%;
  margin-top: 50px;
}

.box {
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.main {
  width: 300px;
  background: #ff7b7b;
}

.sub {
  background: #7b86ff;
}

.end {
  width: 300px;
  background: #fff27b;
}

.one {
  background: #7bff91;
}

.two {
  width: 400px;
  background: #ff7be2;
}

.three {
  width: 400px;
  background: #ffc67b;
}

.four {
  background: #7bf2ff;
}